@model IEnumerable<aspnetcoreapp.Models.MessageModel>

@{
    ViewData["Title"] = "Hello";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a href="/Home/Edit/@item.Id" >Edit</a> |
                    <a href="/Home/Details/@item.Id" >Details</a> |
                    <a href="/Home/Delete/@item.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>